a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}
.navbar .nav-link {
  color: black;
}

.navbar .nav-link:hover {
  color: black;
}
a.text-dark {
  text-decoration: none;
}
#search-input {
  width: 200px;
  transition: width 0.3s ease;
}

#search-input:hover,
#search-input:focus {
  width: 300px;
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}