* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}
.container a {
  text-decoration: none;
  color: black;
}
.container a:hover {
  color: red;
}
.button-container {
  display: flex; 
  justify-content: center; 
  margin-top: 20px; 
}

.see-more {
  padding: 10px 20px; 
  font-size: 16px; 
  color: red;
}

.top-header {
  background-color: white;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.top-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 70px;
}
.navbar {
  flex-grow: 1;
  margin-left: 20px;
}
.navbar .nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar .nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
}

.navbar .nav-links li a:hover {
  color: #19478a;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}
.search-container {
  position: relative;
  display: inline-block;
  transition: width 0.3s ease; 
  overflow: hidden;
}

.search-bar {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 1rem;
  width: 200px;
  transition: width 0.3s ease;
}

.search-container:hover .search-bar,
.search-container:focus-within .search-bar {
  width: 400px; 
}
.icon {
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
}

.icon:hover {
  color: #19478a;
}

.banner {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.banner-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-section {
  position: relative;
  width: 100%;
}

.slider {
  width: 100%;
  display: flex;
  align-items: center;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  object-fit: cover;
}

.slide.active {
  display: block;
}

.navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev,
.next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.categories {
  padding: 20px 0;
  background-color: #f8f8f8;
}

.category-list {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.category-item {
  margin: 10px;
  box-sizing: border-box;
}

.category-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.category-item p {
  font-size: 1rem;
  color: #333;
}

.products {
  padding: 40px 0;
}

.product-list {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product-item {
  flex: 0 0 calc(25% - 20px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: 20px;
}

.product-item img {
  width: 100%;
  height: auto;
}
.product-item:hover {
  transform: translateY(-10px);
}

.product-item h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.product-item p {
  font-size: 1rem;
  margin: 5px 0;
}

.cta-button {
  padding: 10px 20px;
  background-color: #19478a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #333;
}
footer {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: whitesmoke;
  border-top: 1px solid #ddd;
}
h4 {
  margin-bottom: 10px;
}
a {
  display: block;
  margin: 5px 0;
  color: #007bff;
  text-decoration: none;
}

.fa-brands,
.fa-solid {
  margin-right: 10px;
}
footer p {
  color: black;
}
.banner-shopintroduce{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}